<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Arazo{% endblock %}</title>
        {{ include('css.html.twig') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include('nav.html.twig') }}
        <br /><br />
        <div class="container">
        {% block body %}
        
        
        {% endblock %}
        </div>
        {{ include('js.html.twig') }}
    </body>
</html>
